services:
  backend:
    build:
      context: .
      args:
       - UID=${DOCKER_UID:-1000}
       - GID=${DOCKER_GID:-1000}
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - static_data:/app/staticfiles
      - static_data:/app/static
    command: sh -c "python manage.py migrate && python manage.py generate_employees &&  python manage.py collectstatic --noinput && gunicorn tl.wsgi:application -b 0.0.0.0 -w 2"
    depends_on:
      - db
    networks:
      - tl
    user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data/
    networks:
      - tl

volumes:
  db_data:
  static_data:

networks:
  tl:
    driver: bridge