/* Подсветка карточек и отступы */
.accordion-button {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background-color: #e9ecef;
    color: #000;
}

.accordion-body ul {
    padding-left: 1rem;
    list-style-type: disc;
}

.accordion-body li {
    margin-bottom: 0.25rem;
}
.active-dept {
    border-left: 4px solid #0d6efd;
}